[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
[submodule "with-editor"]
	path = with-editor
	url = https://github.com/magit/with-editor.git
[submodule "magit-popup"]
	path = magit-popup
	url = https://github.com/magit/magit-popup.git
[submodule "ghub"]
	path = ghub
	url = https://github.com/magit/ghub.git
[submodule "graphql"]
	path = graphql
	url = https://github.com/vermiculus/graphql.el.git
[submodule "treepy"]
	path = treepy
	url = https://github.com/volrath/treepy.el.git
[submodule "dash"]
	path = dash
	url = https://github.com/magnars/dash.el.git
[submodule "evil"]
	path = evil
	url = https://github.com/emacs-evil/evil.git
[submodule "evil-magit"]
	path = evil-magit
	url = https://github.com/emacs-evil/evil-magit.git
[submodule "slime"]
	path = slime
	url = https://github.com/slime/slime.git
[submodule "org-mode"]
	path = org-mode
	url = https://code.orgmode.org/bzg/org-mode.git
[submodule "transient"]
	path = transient
	url = https://github.com/magit/transient.git
[submodule "yaml-mode"]
	path = yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
