[user]
	name = Peter Xu
	email = peterx@redhat.com
[alias]
	lo = log --color --stat --summary
	ls = log --oneline
	ls-tr = log --color --pretty=oneline --graph
	ci = commit -s
	co = checkout
	st = status
	di = diff --color
	bi = bisect
	d = "!f() { git di $1~ $1; }; f"
	br = branch --color
	fp = format-patch --cover-letter
	se = send-email
	cp = cherry-pick
	rb = rebase
	rbc = rebase --continue
	ls-br = log --graph --decorate --oneline --simplify-by-decoration
[core]
	editor = emacsclient
[merge]
	tool = meld
[rebase]
	autosquash = true
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red
[push]
	default = simple
[sendemail]
	smtpserver = smtp.corp.redhat.com
	smtpencryption = starttls
	smtpserverport = 25
	confirm = never
	#suppresscc = 
[diff]
	renames = true
